In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from keras.preprocessing.sequence import TimeseriesGenerator
from keras.models import Sequential
from keras.layers import *
import seaborn as sns
import os
from statsmodels.tsa.seasonal import seasonal_decompose
from tensorflow.keras.callbacks import EarlyStopping,ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.metrics import MeanAbsolutePercentageError
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import load_model

In [2]:
dashboard_df = pd.read_csv('realdata.csv', sep=',')

FileNotFoundError: [Errno 2] File realdata.csv does not exist: 'realdata.csv'

In [ ]:
daaa  = pd.read_csv('processeddf.csv',sep=',')

In [ ]:
daaa.rename(columns={"PRECTOTCORR": "PREC"}, inplace=True)

In [ ]:
daaa['PRECTOTCORR']=dashboard_df[['PRECTOTCORR']]

In [3]:
daaa

NameError: name 'daaa' is not defined

In [4]:
daaa.columns

NameError: name 'daaa' is not defined

In [5]:
new = daaa[['Date', 'T2M', 'QV2M', 'PRECTOTCORR','WS10M', 'Hour_sin', 'Hour_cos', 'Day_sin','Day_cos']]

NameError: name 'daaa' is not defined

In [6]:
new.setindex('Date')

NameError: name 'new' is not defined

In [7]:
daaa.columns

NameError: name 'daaa' is not defined

In [8]:
daaa

NameError: name 'daaa' is not defined

In [9]:
dashboard_df

NameError: name 'dashboard_df' is not defined

In [45]:
new.set_index('Date', inplace = True)

In [10]:
new.to_csv('finaldata.csv')

NameError: name 'new' is not defined

In [11]:
new.dtypes

NameError: name 'new' is not defined

In [12]:
dashboard_df.drop(columns=['YEAR'])

NameError: name 'dashboard_df' is not defined

In [13]:
windspd

NameError: name 'windspd' is not defined

In [14]:
windspd = windspd.drop('Unnamed: 1', axis=1)

NameError: name 'windspd' is not defined

In [15]:
windspd

NameError: name 'windspd' is not defined

In [80]:
dashboard_df['WS10M']= windspd['WS10M']

In [81]:
dashboard_df = dashboard_df.drop('PS', axis=1)

In [82]:
dashboard_df

        YEAR  MO  DY  HR    T2M  QV2M  PRECTOTCORR  WS10M
0       2005   1   2   0  12.12  5.68          0.0   1.14
1       2005   1   2   1  11.80  5.62          0.0   1.26
2       2005   1   2   2  11.32  5.55          0.0   1.40
3       2005   1   2   3  11.03  5.43          0.0   1.53
4       2005   1   2   4  10.92  5.31          0.0   1.65
...      ...  ..  ..  ..    ...   ...          ...    ...
156625  2022  11  15   1  12.45  7.45          0.0   0.76
156626  2022  11  15   2  12.25  7.32          0.0   0.96
156627  2022  11  15   3  11.83  7.20          0.0   1.06
156628  2022  11  15   4  11.60  7.08          0.0   1.13
156629  2022  11  15   5  11.69  6.96          0.0   1.22

[156630 rows x 8 columns]

In [83]:
a = dashboard_df

In [84]:
a['month']=a['MO']
a['day']=a['DY']
a['hour']= a['HR']

In [85]:
a

        YEAR  MO  DY  HR    T2M  QV2M  PRECTOTCORR  WS10M  month  day  hour
0       2005   1   2   0  12.12  5.68          0.0   1.14      1    2     0
1       2005   1   2   1  11.80  5.62          0.0   1.26      1    2     1
2       2005   1   2   2  11.32  5.55          0.0   1.40      1    2     2
3       2005   1   2   3  11.03  5.43          0.0   1.53      1    2     3
4       2005   1   2   4  10.92  5.31          0.0   1.65      1    2     4
...      ...  ..  ..  ..    ...   ...          ...    ...    ...  ...   ...
156625  2022  11  15   1  12.45  7.45          0.0   0.76     11   15     1
156626  2022  11  15   2  12.25  7.32          0.0   0.96     11   15     2
156627  2022  11  15   3  11.83  7.20          0.0   1.06     11   15     3
156628  2022  11  15   4  11.60  7.08          0.0   1.13     11   15     4
156629  2022  11  15   5  11.69  6.96          0.0   1.22     11   15     5

[156630 rows x 11 columns]

In [86]:
a['Date']=pd.to_datetime(a[['YEAR','month','day','hour']])

In [87]:
a.set_index('Date', inplace = True)

In [88]:
a

,YEAR,MO,DY,HR,T2M,QV2M,PRECTOTCORR,WS10M,month,day,hour
Date,,,,,,,,,,,
2005-01-02 00:00:00,2005,1,2,0,12.12,5.68,0.0,1.14,1,2,0
2005-01-02 01:00:00,2005,1,2,1,11.80,5.62,0.0,1.26,1,2,1
2005-01-02 02:00:00,2005,1,2,2,11.32,5.55,0.0,1.40,1,2,2
2005-01-02 03:00:00,2005,1,2,3,11.03,5.43,0.0,1.53,1,2,3
2005-01-02 04:00:00,2005,1,2,4,10.92,5.31,0.0,1.65,1,2,4
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-15 01:00:00,2022,11,15,1,12.45,7.45,0.0,0.76,11,15,1
2022-11-15 02:00:00,2022,11,15,2,12.25,7.32,0.0,0.96,11,15,2
2022-11-15 03:00:00,2022,11,15,3,11.83,7.20,0.0,1.06,11,15,3
2022-11-15 04:00:00,2022,11,15,4,11.60,7.08,0.0,1.13,11,15,4
2022-11-15 05:00:00,2022,11,15,5,11.69,6.96,0.0,1.22,11,15,5

In [89]:



a['T2M'] = pd.to_numeric(a['T2M'])
a['QV2M'] = pd.to_numeric(a['QV2M'])
a['PRECTOTCORR'] = pd.to_numeric(a['PRECTOTCORR'])
a['WS10M'] = pd.to_numeric(a['WS10M'])

In [90]:
a.dtypes

YEAR             int64
MO               int64
DY               int64
HR               int64
T2M            float64
QV2M           float64
PRECTOTCORR    float64
WS10M          float64
month            int64
day              int64
hour             int64
dtype: object

In [91]:
b = a

In [92]:
hour = 24
day = 30



a['Hour_sin'] = np.sin(a['hour'] * (2* np.pi / 24))
a['Hour_cos']= np.cos(a['hour'] * (2* np.pi / 24))

a['Day_sin'] = np.sin(a['day'] * (2* np.pi / 30))
a['Day_cos'] = np.cos(a['day'] * (2 * np.pi / 30))

,YEAR,MO,DY,HR,T2M,QV2M,PRECTOTCORR,WS10M,month,day,hour,Hour_sin,Hour_cos,Day_sin,Day_cos
Date,,,,,,,,,,,,,,,
2005-01-02 00:00:00,2005,1,2,0,12.12,5.68,0.0,1.14,1,2,0,0.000000,1.000000,0.034422,0.999407
2005-01-02 01:00:00,2005,1,2,1,11.80,5.62,0.0,1.26,1,2,1,0.258819,0.965926,0.034422,0.999407
2005-01-02 02:00:00,2005,1,2,2,11.32,5.55,0.0,1.40,1,2,2,0.500000,0.866025,0.034422,0.999407
2005-01-02 03:00:00,2005,1,2,3,11.03,5.43,0.0,1.53,1,2,3,0.707107,0.707107,0.034422,0.999407
2005-01-02 04:00:00,2005,1,2,4,10.92,5.31,0.0,1.65,1,2,4,0.866025,0.500000,0.034422,0.999407

In [93]:
b= b.drop(columns=['YEAR','MO','DY','HR','month','day','hour'])

In [94]:
b = b.astype({'PRECTOTCORR':'int'})

In [95]:
b.head(25)

,T2M,QV2M,PRECTOTCORR,WS10M,Hour_sin,Hour_cos,Day_sin,Day_cos
Date,,,,,,,,
2005-01-02 00:00:00,12.12,5.68,0,1.14,0.000000e+00,1.000000e+00,0.034422,0.999407
2005-01-02 01:00:00,11.80,5.62,0,1.26,2.588190e-01,9.659258e-01,0.034422,0.999407
2005-01-02 02:00:00,11.32,5.55,0,1.40,5.000000e-01,8.660254e-01,0.034422,0.999407
2005-01-02 03:00:00,11.03,5.43,0,1.53,7.071068e-01,7.071068e-01,0.034422,0.999407
2005-01-02 04:00:00,10.92,5.31,0,1.65,8.660254e-01,5.000000e-01,0.034422,0.999407
2005-01-02 05:00:00,11.00,5.25,0,1.69,9.659258e-01,2.588190e-01,0.034422,0.999407
2005-01-02 06:00:00,11.05,5.19,0,1.70,1.000000e+00,6.123234e-17,0.034422,0.999407
2005-01-02 07:00:00,11.48,5.31,0,1.66,9.659258e-01,-2.588190e-01,0.034422,0.999407
2005-01-02 08:00:00,13.18,6.53,0,1.45,8.660254e-01,-5.000000e-01,0.034422,0.999407
2005-01-02 09:00:00,15.68,6.16,0,1.57,7.071068e-01,-7.071068e-01,0.034422,0.999407
2005-01-02 10:00:00,17.62,5.80,0,2.09,5.000000e-01,-8.660254e-01,0.034422,0.999407
2005-01-02 11:00:00,19.04,6.10,0,2.59,2.588190e-01,-9.659258e-01,0.034422,0.999407
2005-01-02 12:00:00,19.89,6.35,0,3.08,1.224647e-16,-1.000000e+00,0.034422,0.999407
2005-01-02 13:00:00,20.13,6.59,0,3.43,-2.588190e-01,-9.659258e-01,0.034422,0.999407
2005-01-02 14:00:00,19.90,6.71,0,3.59,-5.000000e-01,-8.660254e-01,0.034422,0.999407
2005-01-02 15:00:00,18.98,6.77,0,3.51,-7.071068e-01,-7.071068e-01,0.034422,0.999407
2005-01-02 16:00:00,16.75,7.57,0,2.48,-8.660254e-01,-5.000000e-01,0.034422,0.999407
2005-01-02 17:00:00,12.80,7.14,0,1.73,-9.659258e-01,-2.588190e-01,0.034422,0.999407
2005-01-02 18:00:00,11.83,6.53,0,1.16,-1.000000e+00,-1.836970e-16,0.034422,0.999407
2005-01-02 19:00:00,11.36,6.23,0,1.20,-9.659258e-01,2.588190e-01,0.034422,0.999407
2005-01-02 20:00:00,11.05,5.92,0,1.53,-8.660254e-01,5.000000e-01,0.034422,0.999407
2005-01-02 21:00:00,10.95,5.62,0,1.69,-7.071068e-01,7.071068e-01,0.034422,0.999407
2005-01-02 22:00:00,10.73,5.37,0,1.72,-5.000000e-01,8.660254e-01,0.034422,0.999407
2005-01-02 23:00:00,10.76,5.13,0,1.69,-2.588190e-01,9.659258e-01,0.034422,0.999407
2005-01-03 00:00:00,10.70,4.88,0,1.64,0.000000e+00,1.000000e+00,0.051620,0.998667

In [96]:
b.dtypes

T2M            float64
QV2M           float64
PRECTOTCORR      int64
WS10M          float64
Hour_sin       float64
Hour_cos       float64
Day_sin        float64
Day_cos        float64
dtype: object

In [98]:
b.to_csv('processeddf.csv')

In [25]:
def df_to_X_y(df, window_size= window_size):
  df_as_np = df.to_numpy()
  X = []
  y = []
  for i in range(len(df_as_np)-window_size):
    row = [r for r in df_as_np[i:i+window_size]]
    X.append(row)
    label = [df_as_np[i+window_size][0], df_as_np[i+window_size][1],df_as_np[i+window_size][2], df_as_np[i+window_size][3]]
    y.append(label)
  return np.array(X), np.array(y)

In [26]:
X, y = df_to_X_y(b)
X.shape, y.shape

((156606, 24, 8), (156606, 4))

In [27]:
print(f'Given X = {X[0].flatten()} \n')
print(f'we predict {y[0].flatten()}')

Given X = [ 1.21200000e+01  5.68000000e+00  0.00000000e+00  1.14000000e+00
  0.00000000e+00  1.00000000e+00  3.44216116e-02  9.99407401e-01
  1.18000000e+01  5.62000000e+00  0.00000000e+00  1.26000000e+00
  2.58819045e-01  9.65925826e-01  3.44216116e-02  9.99407401e-01
  1.13200000e+01  5.55000000e+00  0.00000000e+00  1.40000000e+00
  5.00000000e-01  8.66025404e-01  3.44216116e-02  9.99407401e-01
  1.10300000e+01  5.43000000e+00  0.00000000e+00  1.53000000e+00
  7.07106781e-01  7.07106781e-01  3.44216116e-02  9.99407401e-01
  1.09200000e+01  5.31000000e+00  0.00000000e+00  1.65000000e+00
  8.66025404e-01  5.00000000e-01  3.44216116e-02  9.99407401e-01
  1.10000000e+01  5.25000000e+00  0.00000000e+00  1.69000000e+00
  9.65925826e-01  2.58819045e-01  3.44216116e-02  9.99407401e-01
  1.10500000e+01  5.19000000e+00  0.00000000e+00  1.70000000e+00
  1.00000000e+00  6.12323400e-17  3.44216116e-02  9.99407401e-01
  1.14800000e+01  5.31000000e+00  0.00000000e+00  1.66000000e+00
  9.65925826e-01 -2.58819045e-01  3.44216116e-02  9.99407401e-01
  1.31800000e+01  6.53000000e+00  0.00000000e+00  1.45000000e+00
  8.66025404e-01 -5.00000000e-01  3.44216116e-02  9.99407401e-01
  1.56800000e+01  6.16000000e+00  0.00000000e+00  1.57000000e+00
  7.07106781e-01 -7.07106781e-01  3.44216116e-02  9.99407401e-01
  1.76200000e+01  5.80000000e+00  0.00000000e+00  2.09000000e+00
  5.00000000e-01 -8.66025404e-01  3.44216116e-02  9.99407401e-01
  1.90400000e+01  6.10000000e+00  0.00000000e+00  2.59000000e+00
  2.58819045e-01 -9.65925826e-01  3.44216116e-02  9.99407401e-01
  1.98900000e+01  6.35000000e+00  0.00000000e+00  3.08000000e+00
  1.22464680e-16 -1.00000000e+00  3.44216116e-02  9.99407401e-01
  2.01300000e+01  6.59000000e+00  0.00000000e+00  3.43000000e+00
 -2.58819045e-01 -9.65925826e-01  3.44216116e-02  9.99407401e-01
  1.99000000e+01  6.71000000e+00  0.00000000e+00  3.59000000e+00
 -5.00000000e-01 -8.66025404e-01  3.44216116e-02  9.99407401e-01
  1.89800000e+01  6.77000000e+00  0.00000000e+00  3.51000000e+00
 -7.07106781e-01 -7.07106781e-01  3.44216116e-02  9.99407401e-01
  1.67500000e+01  7.57000000e+00  0.00000000e+00  2.48000000e+00
 -8.66025404e-01 -5.00000000e-01  3.44216116e-02  9.99407401e-01
  1.28000000e+01  7.14000000e+00  0.00000000e+00  1.73000000e+00
 -9.65925826e-01 -2.58819045e-01  3.44216116e-02  9.99407401e-01
  1.18300000e+01  6.53000000e+00  0.00000000e+00  1.16000000e+00
 -1.00000000e+00 -1.83697020e-16  3.44216116e-02  9.99407401e-01
  1.13600000e+01  6.23000000e+00  0.00000000e+00  1.20000000e+00
 -9.65925826e-01  2.58819045e-01  3.44216116e-02  9.99407401e-01
  1.10500000e+01  5.92000000e+00  0.00000000e+00  1.53000000e+00
 -8.66025404e-01  5.00000000e-01  3.44216116e-02  9.99407401e-01
  1.09500000e+01  5.62000000e+00  0.00000000e+00  1.69000000e+00
 -7.07106781e-01  7.07106781e-01  3.44216116e-02  9.99407401e-01
  1.07300000e+01  5.37000000e+00  0.00000000e+00  1.72000000e+00
 -5.00000000e-01  8.66025404e-01  3.44216116e-02  9.99407401e-01
  1.07600000e+01  5.13000000e+00  0.00000000e+00  1.69000000e+00
 -2.58819045e-01  9.65925826e-01  3.44216116e-02  9.99407401e-01]

we predict [10.7   4.88  0.    1.64]

In [28]:
aasss = pd.DataFrame(y)

In [29]:
X_train, y_train = X[:135000], y[:135000]
X_val, y_val = X[135000:150000], y[135000:150000]
X_test, y_test = X[150000:], y[150000:]
X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

((135000, 24, 8),
 (135000, 4),
 (15000, 24, 8),
 (15000, 4),
 (6606, 24, 8),
 (6606, 4))

In [30]:
T2M_training_mean = np.mean(X_train[:, :, 0])
T2M_training_std = np.std(X_train[:, :, 0])

QV2M_training_mean = np.mean(X_train[:, :, 1])
QV2M_training_std = np.std(X_train[:, :, 1])

PRECTOTCORR_training_mean = np.mean(X_train[:, :, 2])
PRECTOTCORR_training_std = np.std(X_train[:, :, 2])

WS_training_mean = np.mean(X_train[:, :, 3])
WS_training_std = np.std(X_train[:, :, 3])

def preprocess(X):
    X[:, :, 0] = (X[:, :, 0] - T2M_training_mean) / T2M_training_std
    X[:, :, 1] = (X[:, :, 1] - QV2M_training_mean) / QV2M_training_std
    X[:, :, 2] = (X[:, :, 2] - PRECTOTCORR_training_mean) / PRECTOTCORR_training_std
    X[:, :, 3] = (X[:, :, 3] - WS_training_mean) / WS_training_std
    return X

def preprocess_output(y):
    y[:, 0] = (y[:, 0] - T2M_training_mean) / T2M_training_std
    y[:, 1] = (y[:, 1] - QV2M_training_mean) / QV2M_training_std
    y[:, 2] = (y[:, 2] - PRECTOTCORR_training_mean) / PRECTOTCORR_training_std
    y[:, 3] = (y[:, 3] - WS_training_mean) / WS_training_std
    return y

In [31]:
preprocess(X_train)
preprocess(X_val)
preprocess(X_test)

array([[[-2.41961440e+00, -9.93308161e-01, -1.54571048e-01, ...,
          1.00000000e+00,  2.05104500e-01,  9.78740080e-01],
        [-2.52375752e+00, -1.03918355e+00, -1.54571048e-01, ...,
          9.65925826e-01,  2.05104500e-01,  9.78740080e-01],
        [-2.56839028e+00, -1.08505893e+00, -1.54571048e-01, ...,
          8.66025404e-01,  2.05104500e-01,  9.78740080e-01],
        ...,
        [-1.75012296e+00, -7.60108279e-01, -1.54571048e-01, ...,
          7.07106781e-01,  2.05104500e-01,  9.78740080e-01],
        [-1.74846990e+00, -7.83045973e-01, -1.54571048e-01, ...,
          8.66025404e-01,  2.05104500e-01,  9.78740080e-01],
        [-1.75342909e+00, -8.05983666e-01, -1.54571048e-01, ...,
          9.65925826e-01,  2.05104500e-01,  9.78740080e-01]],

       [[-2.52375752e+00, -1.03918355e+00, -1.54571048e-01, ...,
          9.65925826e-01,  2.05104500e-01,  9.78740080e-01],
        [-2.56839028e+00, -1.08505893e+00, -1.54571048e-01, ...,
          8.66025404e-01,  2.05104500e-01,  9.78740080e-01],
        [-2.56012495e+00, -1.13284579e+00, -1.54571048e-01, ...,
          7.07106781e-01,  2.05104500e-01,  9.78740080e-01],
        ...,
        [-1.74846990e+00, -7.83045973e-01, -1.54571048e-01, ...,
          8.66025404e-01,  2.05104500e-01,  9.78740080e-01],
        [-1.75342909e+00, -8.05983666e-01, -1.54571048e-01, ...,
          9.65925826e-01,  2.05104500e-01,  9.78740080e-01],
        [-1.81293944e+00, -8.17452513e-01, -1.54571048e-01, ...,
          1.00000000e+00,  2.21921513e-01,  9.75064532e-01]],

       [[-2.56839028e+00, -1.08505893e+00, -1.54571048e-01, ...,
          8.66025404e-01,  2.05104500e-01,  9.78740080e-01],
        [-2.56012495e+00, -1.13284579e+00, -1.54571048e-01, ...,
          7.07106781e-01,  2.05104500e-01,  9.78740080e-01],
        [-2.53036978e+00, -1.17872118e+00, -1.54571048e-01, ...,
          5.00000000e-01,  2.05104500e-01,  9.78740080e-01],
        ...,
        [-1.75342909e+00, -8.05983666e-01, -1.54571048e-01, ...,
          9.65925826e-01,  2.05104500e-01,  9.78740080e-01],
        [-1.81293944e+00, -8.17452513e-01, -1.54571048e-01, ...,
          1.00000000e+00,  2.21921513e-01,  9.75064532e-01],
        [-1.91377643e+00, -8.40390206e-01, -1.54571048e-01, ...,
          9.65925826e-01,  2.21921513e-01,  9.75064532e-01]],

       ...,

       [[-1.27404016e+00, -7.35259112e-01, -1.54571048e-01, ...,
          7.07106781e-01,  2.38672766e-01,  9.71100052e-01],
        [-1.19303996e+00, -7.60108279e-01, -1.54571048e-01, ...,
          5.00000000e-01,  2.38672766e-01,  9.71100052e-01],
        [-1.18642770e+00, -7.83045973e-01, -1.54571048e-01, ...,
          2.58819045e-01,  2.38672766e-01,  9.71100052e-01],
        ...,
        [-1.08393765e+00, -4.90590384e-01, -1.54571048e-01, ...,
          1.00000000e+00,  2.55353295e-01,  9.66847814e-01],
        [-1.07897846e+00, -5.13528077e-01, -1.54571048e-01, ...,
          9.65925826e-01,  2.55353295e-01,  9.66847814e-01],
        [-1.11203976e+00, -5.38377245e-01, -1.54571048e-01, ...,
          8.66025404e-01,  2.55353295e-01,  9.66847814e-01]],

       [[-1.19303996e+00, -7.60108279e-01, -1.54571048e-01, ...,
          5.00000000e-01,  2.38672766e-01,  9.71100052e-01],
        [-1.18642770e+00, -7.83045973e-01, -1.54571048e-01, ...,
          2.58819045e-01,  2.38672766e-01,  9.71100052e-01],
        [-1.18312157e+00, -8.05983666e-01, -1.54571048e-01, ...,
          6.12323400e-17,  2.38672766e-01,  9.71100052e-01],
        ...,
        [-1.07897846e+00, -5.13528077e-01, -1.54571048e-01, ...,
          9.65925826e-01,  2.55353295e-01,  9.66847814e-01],
        [-1.11203976e+00, -5.38377245e-01, -1.54571048e-01, ...,
          8.66025404e-01,  2.55353295e-01,  9.66847814e-01],
        [-1.18146850e+00, -5.61314938e-01, -1.54571048e-01, ...,
          7.07106781e-01,  2.55353295e-01,  9.66847814e-01]],

       [[-1.18642770e+00, -7.83045973e-01, -1.54571048e-01, ...,
          2.58819045e-01,  2.38672766e-01,  9.71100052e-01],
        [-1.18312157e+00, -8.05983666e-01, -1.54571048e-01, ...,
          6.12323400e-17,  2.38672766e-01,  9.71100052e-01],
        [-1.10046830e+00, -7.23790265e-01, -1.54571048e-01, ...,
         -2.58819045e-01,  2.38672766e-01,  9.71100052e-01],
        ...,
        [-1.11203976e+00, -5.38377245e-01, -1.54571048e-01, ...,
          8.66025404e-01,  2.55353295e-01,  9.66847814e-01],
        [-1.18146850e+00, -5.61314938e-01, -1.54571048e-01, ...,
          7.07106781e-01,  2.55353295e-01,  9.66847814e-01],
        [-1.21948901e+00, -5.84252631e-01, -1.54571048e-01, ...,
          5.00000000e-01,  2.55353295e-01,  9.66847814e-01]]])

In [32]:
preprocess_output(y_train)
preprocess_output(y_val)
preprocess_output(y_test)

array([[-1.81293944, -0.81745251, -0.15457105, -1.31762089],
       [-1.91377643, -0.84039021, -0.15457105, -1.20496223],
       [-2.00800115, -0.85185905, -0.15457105, -1.1908799 ],
       ...,
       [-1.1814685 , -0.56131494, -0.15457105, -0.74728641],
       [-1.21948901, -0.58425263, -0.15457105, -0.69799824],
       [-1.20461142, -0.60719032, -0.15457105, -0.63462774]])

## Model 1 : LSTM

In [101]:
model_lstm = Sequential()
model_lstm.add(InputLayer((window_size, inp_features)))
model_lstm.add(LSTM(128, return_sequences = True, dropout = 0.2))
model_lstm.add(LSTM(64, return_sequences = True, dropout = 0.2))
model_lstm.add(LSTM(32, dropout = 0.2))
model_lstm.add(Dense(32, 'relu'))
model_lstm.add(Dense(4, 'linear'))
model_lstm.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_3 (LSTM)               (None, 24, 128)           70144

 lstm_4 (LSTM)               (None, 24, 64)            49408

 lstm_5 (LSTM)               (None, 32)                12416

 dense (Dense)               (None, 32)                1056

 dense_1 (Dense)             (None, 4)                 132

=================================================================
Total params: 133,156
Trainable params: 133,156
Non-trainable params: 0
_________________________________________________________________

In [102]:
cp_lstm = ModelCheckpoint('model_lstm', save_best_only=True, monitor='val_loss')
model_lstm.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.0001), metrics=[RootMeanSquaredError()])

In [ ]:
history = model_lstm.fit(X_train, y_train, batch_size = 64, shuffle=False, validation_data=(X_val, y_val), epochs=150, callbacks=[cp_lstm,EarlyStopping(monitor='val_loss', patience=20)])

Epoch 1/150

In [ ]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

plt.plot(history.history['root_mean_squared_error'])
plt.plot(history.history['val_root_mean_squared_error'])
plt.title('model MSE ')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

# MODEL 2: GRU

In [ ]:
model_gru = Sequential()
model_gru.add(InputLayer((window_size, inp_features)))
model_gru.add(GRU(128, return_sequences=True, dropout = 0.2))
model_gru.add(GRU(64, return_sequences=True, dropout = 0.2))
model_gru.add(GRU(32, dropout = 0.2))
model_gru.add(Dense(32, activation='sigmoid'))
model_gru.add(Dense(4, 'linear'))
model_gru.summary()

In [ ]:
cp_gru = ModelCheckpoint('model_gru', save_best_only=True, monitor='val_loss')
model_gru.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.001), metrics=[RootMeanSquaredError()])
history2 = model_gru.fit(X_train, y_train, batch_size=64, shuffle=False, validation_data=(X_val, y_val), epochs=150, callbacks=[cp_gru,EarlyStopping(monitor='val_loss', patience=20)])

In [ ]:
plt.plot(history2.history['loss'])
plt.plot(history2.history['val_loss'])
plt.title('model loss')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

plt.plot(history2.history['root_mean_squared_error'])
plt.plot(history2.history['val_root_mean_squared_error'])
plt.title('model MSE ')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:

def postprocess_T2M(arr):
    arr = (arr*T2M_training_std) + T2M_training_mean
    return arr

def postprocess_QV2M(arr):
    arr = (arr*QV2M_training_std) + QV2M_training_mean
    return arr

def postprocess_PRECTOTCORR(arr):
    arr = (arr*PRECTOTCORR_training_std) + PRECTOTCORR_training_mean
    return arr

def postprocess_PS(arr):
    arr = (arr*PS_training_std) + PS_training_mean
    return arr

In [ ]:
timestep = 10

In [ ]:
xyz = b[150000+window_size:]

In [ ]:
xyz

In [ ]:
def iterative_pred(model, exog , h):
    
    y_preds= []
    
    current_X = exog
    
    y_preds = pd.DataFrame(index=xyz[:h].index, columns=['T2M', 'QV2M', 'PRECTOTCORR', 'PS', 'Hour_sin', 'Hour_cos',
                                                         'Day_sin', 'Day_cos','Month_sin', 'Month_cos'])
    y_preds['Hour_sin'] = xyz['Hour_sin']
    y_preds['Hour_cos'] = xyz['Hour_cos']
    
    y_preds['Day_sin'] = xyz['Day_sin']
    y_preds['Day_cos'] = xyz['Day_cos']
    
    y_preds['Month_sin'] = xyz['Month_sin']
    y_preds['Month_cos'] = xyz['Month_cos']
    
    
    
    for i in range(h):
        y_pred = model.predict(current_X)
        
        y_preds.iloc[[i],[0]] = y_pred[0,0]
        y_preds.iloc[[i],[1]] = y_pred[0,1]
        y_preds.iloc[[i],[2]] = y_pred[0,2]
        y_preds.iloc[[i],[3]] = y_pred[0,3]
        
        currrent_X = np.roll(current_X, shift=-1)
        current_X[-1]= y_preds.iloc[[i]]
        
    return np.array(y_preds.iloc[:,0:4])

In [ ]:
def return_predictions(predictions, labels):
    y = labels
    T2M_preds, QV2M_preds, PRECTOTCORR_preds, PS_preds  = postprocess_T2M(predictions[:, 0]), postprocess_QV2M(predictions[:, 1]),  postprocess_PRECTOTCORR(predictions[:, 2]),  postprocess_PS(predictions[:, 3])
    T2M_actuals, QV2M_actuals, PRECTOTCORR_actuals, PS_actuals = postprocess_T2M(y[:, 0]), postprocess_QV2M(y[:, 1]) , postprocess_PRECTOTCORR(y[:, 2]), postprocess_PS(y[:, 3])
    df = pd.DataFrame(data={'Temperature Predictions': T2M_preds,
                        'Temperature Actuals':T2M_actuals,
                            
                          'Humidity Predictions': QV2M_preds,
                          'Humidity Actuals': QV2M_actuals,
                            
                            
                             'Precipitation Predictions': PRECTOTCORR_preds,
                          'Precipitation Actuals': PRECTOTCORR_actuals,
                            
                             'Pressure Predictions': PS_preds,
                          'Pressure Actuals': PS_actuals
                          })
    plt.figure(figsize=(200,200))
    plt.subplot(4,1,1)
    plt.plot(df['Temperature Predictions'])
    plt.plot(df['Temperature Actuals'])
    
    
    plt.figure(figsize=(200,200))
    plt.subplot(4,1,2)
    plt.plot(df['Humidity Predictions'])
    plt.plot(df['Humidity Actuals'])
    
    
    plt.figure(figsize=(200,200))
    plt.subplot(4,1,3)
    plt.plot(df['Precipitation Predictions'])
    plt.plot(df['Precipitation Actuals'])
    
    plt.figure(figsize=(200,200))
    plt.subplot(4,1,4)
    plt.plot(df['Pressure Predictions'])
    plt.plot(df['Pressure Actuals'])
    
    return df

In [ ]:
model_gru.predict(X_test[:1])

In [ ]:
X_test[:1].shape

In [ ]:
normalized_preds.to_csv('hooo.csv')

In [ ]:
predictions = iterative_pred(model_gru, X_test[:1] , h= timestep)
normalized_bpreds = return_predictions(predictions,y_test[:timestep])

In [ ]:
normalized_bpreds.head()

In [ ]:
predictions2 = iterative_pred(model_lstm, X_test[:1] , h= timestep)
normalized_bpreds2 = return_predictions(predictions,y_test[:timestep])

In [ ]:
normalized_bpreds2.head()